body{
  background-image: url("images/tweede-kamer.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  padding: 30px;
}
.ls-container{
  padding: 20px;
  background-color: lightblue;
}
